 .logo {
        padding: 15px 0;
    }

.RightNav {
    width: 80%;
    max-width: 400px;
    height: 80%;
    background-color: #e4d2e4;
    position: fixed;
    top:0;
    right:0;
    padding: 0 20px;
    z-index: 200;
    box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: 0.3s ease-out;
    /* transition is the length of time of an animation and ease out means start fast end slow */
}

.RightNav.open {
    transform: translateX(0);
}

.linkcol {
    color: black;
}

.rightul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e4d2e4;
    border: none;
    
}

.nav-item {
    margin: 20px;
    font-family: monospace;
    font-size: 20px;
}

.linkcol:hover, .linkcol:active {
    color: #FF6347;
} 


    